*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body{
    background-color: #1b1919;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* custom variable */

/* :root{ */
     /* --kuchbhinaam  varible name start with -- any name prvided */

    /* --kuchbhinaam : #115f83;
    --heightkuch :400px ; 
    --widthkuvh: 400px;
     --color: #811a1a;
     --background: #0c6e33;
     --radius:70px
     --x:200px ;
     --y:200px;

} */



/* .box {  */
    /* width: 400px;
    height: 400px; */

    /* height: var(--heightkuch);
    width: var(--widthkuvh);

    
  background: radial-gradient(at right var(--x) bottom var(--y),
                            var(--color), var(--background)); */


/* 
    background: radial-gradient(at center, var(--color), var(--background),purple); */

    /* background: radial-gradient(at bottom right, var(--color), var(--background),purple); */


/*     
background: radial-gradient(at bottom right, var(--color), var(--background),yellow); */




  /* background: radial-gradient(at right 100px bottom 10px,
                            var(--color), var(--background)); */




/*     
      background:radial-gradient( at  0px -300px ,var(  --color) ,var(--background) ); */

    
      /* background:radial-gradient( at  300px 0px ,var(  --color) ,var(--background) ); */

        /* background:radial-gradient( at  0px 100px ,var(  --color) ,var(--background) ); */


        /* background:radial-gradient( at 200px 100px ,var(  --color) ,var(--background) ); */


    /* background:radial-gradient(var(--radius) at 100px 100px ,var(  --color) ,var(--background) ); */


    /* background-color: var(--kuchbhinaam); */
/* } */





/* background: radial-gradient(100px at 100px 300px, red ,blue); */
  /* background: radial-gradient(50px this is radius  at 200px ye x axis   300px y axis , red ,blue); */