*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body{
background-image: url("https://i.pinimg.com/736x/54/08/c5/5408c5a173c8f7c30829a14a1fdfe359.jpg");
background-size: cover;
}


:root {
  --x: 0px;
  --y: 0px;
}

.box {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle 200px at var(--x) var(--y), rgba(255, 255, 255, 0), black );

}

